<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leaforbook.orange.dao.mapper.OrangeOrderMapper">
  <resultMap id="BaseResultMap" type="com.leaforbook.orange.dao.model.OrangeOrder">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="price_id" jdbcType="VARCHAR" property="priceId" />
    <result column="freight_id" jdbcType="VARCHAR" property="freightId" />
    <result column="address_id" jdbcType="VARCHAR" property="addressId" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="actual_unit_price" jdbcType="DECIMAL" property="actualUnitPrice" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="actual_freight" jdbcType="DECIMAL" property="actualFreight" />
    <result column="total_cost" jdbcType="DECIMAL" property="totalCost" />
    <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
    <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
    <result column="date_create" jdbcType="TIMESTAMP" property="dateCreate" />
    <result column="date_update" jdbcType="TIMESTAMP" property="dateUpdate" />
    <result column="by_create" jdbcType="VARCHAR" property="byCreate" />
    <result column="by_update" jdbcType="VARCHAR" property="byUpdate" />
    <result column="data_status" jdbcType="VARCHAR" property="dataStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_id, user_id, product_id, price_id, freight_id, address_id, amount, actual_unit_price, 
    total_price, actual_freight, total_cost, delivery_date, order_status, date_create, 
    date_update, by_create, by_update, data_status
  </sql>
  <select id="selectByExample" parameterType="com.leaforbook.orange.dao.model.OrangeOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orange_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orange_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orange_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.leaforbook.orange.dao.model.OrangeOrderExample">
    delete from orange_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.leaforbook.orange.dao.model.OrangeOrder">
    insert into orange_order (order_id, user_id, product_id, 
      price_id, freight_id, address_id, 
      amount, actual_unit_price, total_price, 
      actual_freight, total_cost, delivery_date, 
      order_status, date_create, date_update, 
      by_create, by_update, data_status
      )
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, 
      #{priceId,jdbcType=VARCHAR}, #{freightId,jdbcType=VARCHAR}, #{addressId,jdbcType=VARCHAR}, 
      #{amount,jdbcType=INTEGER}, #{actualUnitPrice,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, 
      #{actualFreight,jdbcType=DECIMAL}, #{totalCost,jdbcType=DECIMAL}, #{deliveryDate,jdbcType=TIMESTAMP}, 
      #{orderStatus,jdbcType=VARCHAR}, #{dateCreate,jdbcType=TIMESTAMP}, #{dateUpdate,jdbcType=TIMESTAMP}, 
      #{byCreate,jdbcType=VARCHAR}, #{byUpdate,jdbcType=VARCHAR}, #{dataStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.leaforbook.orange.dao.model.OrangeOrder">
    insert into orange_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="priceId != null">
        price_id,
      </if>
      <if test="freightId != null">
        freight_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="actualUnitPrice != null">
        actual_unit_price,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="actualFreight != null">
        actual_freight,
      </if>
      <if test="totalCost != null">
        total_cost,
      </if>
      <if test="deliveryDate != null">
        delivery_date,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="dateCreate != null">
        date_create,
      </if>
      <if test="dateUpdate != null">
        date_update,
      </if>
      <if test="byCreate != null">
        by_create,
      </if>
      <if test="byUpdate != null">
        by_update,
      </if>
      <if test="dataStatus != null">
        data_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="priceId != null">
        #{priceId,jdbcType=VARCHAR},
      </if>
      <if test="freightId != null">
        #{freightId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="actualUnitPrice != null">
        #{actualUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualFreight != null">
        #{actualFreight,jdbcType=DECIMAL},
      </if>
      <if test="totalCost != null">
        #{totalCost,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDate != null">
        #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null">
        #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdate != null">
        #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="byCreate != null">
        #{byCreate,jdbcType=VARCHAR},
      </if>
      <if test="byUpdate != null">
        #{byUpdate,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        #{dataStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.leaforbook.orange.dao.model.OrangeOrderExample" resultType="java.lang.Long">
    select count(*) from orange_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orange_order
    <set>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.priceId != null">
        price_id = #{record.priceId,jdbcType=VARCHAR},
      </if>
      <if test="record.freightId != null">
        freight_id = #{record.freightId,jdbcType=VARCHAR},
      </if>
      <if test="record.addressId != null">
        address_id = #{record.addressId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.actualUnitPrice != null">
        actual_unit_price = #{record.actualUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.actualFreight != null">
        actual_freight = #{record.actualFreight,jdbcType=DECIMAL},
      </if>
      <if test="record.totalCost != null">
        total_cost = #{record.totalCost,jdbcType=DECIMAL},
      </if>
      <if test="record.deliveryDate != null">
        delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.dateCreate != null">
        date_create = #{record.dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dateUpdate != null">
        date_update = #{record.dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.byCreate != null">
        by_create = #{record.byCreate,jdbcType=VARCHAR},
      </if>
      <if test="record.byUpdate != null">
        by_update = #{record.byUpdate,jdbcType=VARCHAR},
      </if>
      <if test="record.dataStatus != null">
        data_status = #{record.dataStatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orange_order
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      product_id = #{record.productId,jdbcType=VARCHAR},
      price_id = #{record.priceId,jdbcType=VARCHAR},
      freight_id = #{record.freightId,jdbcType=VARCHAR},
      address_id = #{record.addressId,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=INTEGER},
      actual_unit_price = #{record.actualUnitPrice,jdbcType=DECIMAL},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      actual_freight = #{record.actualFreight,jdbcType=DECIMAL},
      total_cost = #{record.totalCost,jdbcType=DECIMAL},
      delivery_date = #{record.deliveryDate,jdbcType=TIMESTAMP},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      date_create = #{record.dateCreate,jdbcType=TIMESTAMP},
      date_update = #{record.dateUpdate,jdbcType=TIMESTAMP},
      by_create = #{record.byCreate,jdbcType=VARCHAR},
      by_update = #{record.byUpdate,jdbcType=VARCHAR},
      data_status = #{record.dataStatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.leaforbook.orange.dao.model.OrangeOrder">
    update orange_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="priceId != null">
        price_id = #{priceId,jdbcType=VARCHAR},
      </if>
      <if test="freightId != null">
        freight_id = #{freightId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="actualUnitPrice != null">
        actual_unit_price = #{actualUnitPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="actualFreight != null">
        actual_freight = #{actualFreight,jdbcType=DECIMAL},
      </if>
      <if test="totalCost != null">
        total_cost = #{totalCost,jdbcType=DECIMAL},
      </if>
      <if test="deliveryDate != null">
        delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="dateCreate != null">
        date_create = #{dateCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="dateUpdate != null">
        date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      </if>
      <if test="byCreate != null">
        by_create = #{byCreate,jdbcType=VARCHAR},
      </if>
      <if test="byUpdate != null">
        by_update = #{byUpdate,jdbcType=VARCHAR},
      </if>
      <if test="dataStatus != null">
        data_status = #{dataStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leaforbook.orange.dao.model.OrangeOrder">
    update orange_order
    set user_id = #{userId,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=VARCHAR},
      price_id = #{priceId,jdbcType=VARCHAR},
      freight_id = #{freightId,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=INTEGER},
      actual_unit_price = #{actualUnitPrice,jdbcType=DECIMAL},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      actual_freight = #{actualFreight,jdbcType=DECIMAL},
      total_cost = #{totalCost,jdbcType=DECIMAL},
      delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      date_create = #{dateCreate,jdbcType=TIMESTAMP},
      date_update = #{dateUpdate,jdbcType=TIMESTAMP},
      by_create = #{byCreate,jdbcType=VARCHAR},
      by_update = #{byUpdate,jdbcType=VARCHAR},
      data_status = #{dataStatus,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>